.env
.env.*
*.pem
*.key

frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

backend/backend
backend/main
*.exe
*.exe~
*.dll
*.so
*.dylib
backend/vendor/

pgdata/
db-data/

.vscode/
.idea/
.DS_Store
Thumbs.db
